<header data-animation="fadeInDownBig">
  <a href="/" title="Back to Homepage" class="logo">humansconf</a>
  <button class="toggle">Menu</button>
  <nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/code-of-conduct" title="Code of Conduct">Code of Conduct</a></li>
      <li><a href="/format" title="Format & Schedule of #humansconf">Format & Schedule</a></li>
      {% comment %}
      <li><a href="/inclusivity-grants" title="Inclusivity Grants for participating in #humansconf">Inclusivity Grants</a></li>
      {% endcomment %}
      <li><a href="/venue-and-date" title="Venue & Date of #humansconf">Venue & Date</a></li>
      <li><a href="/costs" title="Costs of Participating">Costs of Participating</a></li>
    </ul>
  </nav>
</header>
