<header data-animation="fadeInDownBig">
  <a href="/" title="Back to Homepage" class="logo">humansconf</a>
  <button class="toggle">Menu</button>
  <nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><hr></li>
      <li><a href="/register" title="Register for participating in #humansconf">Register for #humansconf</a></li>
      <li><a href="/code-of-conduct" title="Code of Conduct">Code of Conduct</a></li>
      <li><hr></li>
      <li><a href="/costs" title="Costs of Participating">Costs of Participating</a></li>
      <li><a href="/inclusivity-grants" title="Inclusivity Grants for participating in #humansconf">Inclusivity Grants</a></li>
      <li><hr></li>
      <li><a href="/format" title="Format & Schedule of #humansconf">Format & Schedule</a></li>
      <li><a href="/venue" title="Venue & Travel Info">Venue</a></li>
      <li><a href="/accessibility" title="Accessibility at #humansconf">Accessibility</a></li>
      <li><a href="/organizers" title="Organizer team of #humansconf">Organizers</a></li>
      <li><hr></li>
      <li><a href="/faqs" title="Frequently Asked Questions">Frequently Asked Questions</a></li>
    </ul>
  </nav>
</header>
