h2 {
  padding-top: 50px;
}

h3 {
  padding-top: 30px;
}

#markdown-toc {
  padding-bottom: 25px;
}

em {
  text-decoration: underline;
}

.content hr {
  margin: 30px 0px 30px 0px;
}

.sponsors {
  text-align: center;
}

.sponsors li {
  display: inline-block;
  list-style-type: none;
}

.sponsors li img {
  display: block;
  width: 100%;
  max-width: 400px;
}

.organizers {
  padding: 0;
}

.organizers li {
  display: inline-block;
  list-style-type: none;
}

.organizers li img {
  display: block;
  width: 100%;
  max-width: 200px;
}

.footnotes {
  margin-top: 50px;
}


.alert-banner {
  background-color: #721c24;
  color: white;
  padding: 30px;
}

.alert-banner-header {
  color: white;
}

blockquote {
  background-color: #e6e6e659;
  margin: 0;
  padding: 20px 40px 20px 40px
}

@media only screen and (max-width: 1440px) {
  .content article .body .media .caption {
    padding-top: 10px;
  }

}

@media only screen and (max-width: 634px) {
  h2 { padding-top: 40px; }
  #venue-streetmap { display: none; }
}
