---
layout: default
---
<section class="content">
  <article>
    <header class="gradient-1">
      <div class="overlay" {% if page.header_image %}style="background-image: url(images/{{ page.header_image }});" data-parallax="9"{% endif %}></div>
      <div class="excerpt">
        <h1>{{ page.title }}</h1>

        <p> {{ page.summary }} </p>
      </div>
    </header>

    {% unless page.no_alert_banner %}
    <section class="alert-banner">
      <h1 class="alert-banner-header">#humansconf is cancelled!</h1>
      <p>
        We are sorry to inform you that the event that was scheduled for May 21-23 2020, to be held in SeminarZentrum Rückersbach in Germany, is cancelled. <br>For more information <a href="/2020-cancellation">please read here</a>.
      </p>
    </section>
    {% endunless %}

    <div class="body">
    {{ content }}
    </div>

  </article>
</section>

