---
layout: default
---
<section class="content">
  <article>
    <header class="gradient-1">
      <div class="overlay" {% if page.header_image %}style="background-image: url(images/{{ page.header_image }});" data-parallax="9"{% endif %}></div>
      <div class="excerpt">
        <h1>{{ page.title }}</h1>

        <p> {{ page.summary }} </p>
      </div>
    </header>

    <section class="alert-banner">
      <h1 class="alert-banner-header">#humansconf is cancelled!</h1>
      <p>
        We are sorry to inform you that this year's humansconf is cancelled.
        For more information
        <a href="/#cancellation">please read here</a>.
      </p>
    </section>

    <div class="body">
    {{ content }}
    </div>

  </article>
</section>

